@{
    Layout = "_Layout";
}
@{
    ViewData["Title"] = "blog";
}
@section Style{
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/showblog.css" asp-append-version="true" />
    <link href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://unpkg.com/viewerjs/dist/viewer.css'>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />



    <style>


    </style>


    }



    @section Scripts{
    <script src="~/js/site.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script src='https://unpkg.com/viewerjs/dist/viewer.js'></script>
    <script src='https://unpkg.com/v-viewer/dist/v-viewer.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


    <script>

        $("body").attr('data-bs-spy', 'scroll')
        $("body").attr('data-bs-target', '#list-example')
        $("body").attr('data-bs-offset', '0')
        $("body").attr('tabindex', '0')

        Vue.use(VueViewer.default)

        $(function() {
            $('input[name="daterange"]').daterangepicker({
                opens: 'left'
            }, function(start, end, label) {
                console.log(start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            }).on("hide.daterangepicker", function(ev) {
                this.dispatchEvent(new Event('input'))
            });
        });

        let id = 0;
        let vm = new Vue({
            el: `#bloginfo`,
            data: {
                blogId: 0,
                UserName: "Alley",
                UserImage: "2208121714164777.jpg",
                CoverImageName: "coverimage.jpg",
                Title: '三天兩夜台東之旅',
                describe: '美好旅程的回憶從JustGO開始',
                StartDate: null,
                EndDate: null,
                bool: false,
                Like: 0,
                daterange: null,
                myscore: this.score,
                mytempscore: this.score

            },
            props: {
                count: {
                    type: Number,
                    default: 5
                },
                score: {
                    type: Number,
                    default: 1
                },
                color: {
                    type: String,
                    default: '#FFC100'
                }
            },
            computed: {
                copyDate() {
                    return this.daterange
                }
            }
            ,
            methods: {
                getImages(loadimagesName) {
                    return "@Url.Content("~/blogImages")/" + loadimagesName
                },
                userImageSrc(imageName) {
                    return "@Url.Content("~/UserImages")/" + imageName
                },
                getdate(date) {
                    return moment(date).format('YYYY/MM/DD')
                },
                gettime(time) {
                    return moment(time).format('A HH')
                },
                gethref(dayIndex, viewIndex) {
                    return "#list-item-" + dayIndex + "-" + viewIndex
                },
                getanchor(dayIndex, viewIndex) {
                    return "list-item-" + dayIndex + "-" + viewIndex
                },
                copyURL: function() {
                    let myurl = document.createElement('input')
                    geturl = window.location.toString()
                    document.body.appendChild(myurl);
                    myurl.value = geturl;
                    myurl.select();
                    document.execCommand('copy');
                    document.body.removeChild(myurl);
                },
                copyblog() {
                    let startDate = new Date(this.copyDate);
                    if (startDate < new Date()) {
                        alert("日期輸入錯誤")
                        return;
                    }
                    axios.post("@Url.Action("copySchedule","Schedule")", { BlogId: this.blogId, startDate })
                        .then(() => { alert("複製行程成功") })
                },
                likeblog: function() {
                    if (!this.bool) {
                        this.bool = true;
                        this.Like++;
                    } else {
                        this.bool = false;
                        this.Like--;
                    }
                    axios.post("@Url.Action("userKeepBlog","Blog")", { id: this.blogId }).then(() => {
                    }).catch(() => {
                        if (!this.bool) {
                            this.bool = true;
                            this.Like++;
                        } else {
                            this.bool = false;
                            this.Like--;
                        }
                    })
                },
                onChange(dayIndex) {
                    for (let j = 0; j < this.Details.length; j++) {
                        let timestamp = this.datetime[j]
                        console.log(timestamp)
                        for (let i = 0; i < this.Details[j].length; i++) {
                            this.Details[j][i].starttime = timestamp
                            let hr = timestamp.substring(0, 2)
                            let min = timestamp.substring(3, 5)
                            let addhr = parseInt((Number(min) + Number(this.Details[j][i].min)) / 60)

                            hr = Number(hr) + Number(addhr)
                            min = (Number(min) + Number(this.Details[j][i].min)) % 60

                            if (hr < 10) {
                                hr = '0' + hr
                            }
                            if (min < 10) {
                                min = '0' + min
                            }

                            timestamp = hr + ':' + min
                            this.Details[j][i].endtime = timestamp
                        }
                    }
                },
                caltime(dayIndex) {
                    for (let j = 0; j < this.Details.length; j++) {
                        let timestamp = this.datetime[j]
                        console.log(timestamp)
                        for (let i = 0; i < this.Details[j].length; i++) {
                            this.Details[j][i].starttime = timestamp
                            let hr = timestamp.substring(0, 2)
                            let min = timestamp.substring(3, 5)
                            let addhr = parseInt((Number(min) + Number(this.Details[j][i].min)) / 60)

                            hr = Number(hr) + Number(addhr)
                            min = (Number(min) + Number(this.Details[j][i].min)) % 60

                            if (hr < 10) {
                                hr = '0' + hr
                            }
                            if (min < 10) {
                                min = '0' + min
                            }

                            timestamp = hr + ':' + min
                            this.Details[j][i].endtime = timestamp
                        }
                    }
                },
            },
            mounted() {
                let id = window.location.search.substring(1)
                if (id != "") {
                    axios.post("@Url.Action("selectblogdetails","blog")", { BlogId: id, }).then(res => {
                        console.log(res.data);
                        this.blogId = res.data.blogId;
                        this.CoverImageName = res.data.coverImage;
                        this.UserImage = res.data.userImage;
                        this.Details = res.data.details;
                        this.EndDate = res.data.endDate;
                        this.StartDate = res.data.startDate;
                        this.Title = res.data.title;
                        this.describe = res.data.describe;
                        this.UserName = res.data.userName;
                        //getIsKeep
                        this.Like = res.data.like;
                        axios.post("@Url.Action("getIsKeep","blog")", { id }).then(res => {
                            this.bool = res.data;
                        })
                    })
                }
            },
        },
        )

    </script>
    }


    <div id="bloginfo">
        <div class="d-flex@* flex-column align-items-center justify-content-center*@">
            <div id="robotcarousel" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#robotcarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#robotcarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#robotcarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item" data-bs-interval="3000">
                        <img class="d-block w-100" style="height: 50vh;" src="https://i.picsum.photos/id/735/1800/1600.jpg?hmac=ORAvtQwonINqImN96j8kVd50jBUt6S0tTRjRKrLprNs" alt="img">
                    </div>
                    <div class="carousel-item active" data-bs-interval="3000">
                        <img class="d-block w-100" style="height: 50vh;" src="https://i.picsum.photos/id/212/1800/1600.jpg?hmac=yEt4Ncu_6soIUZ3CXYKbuxjk-PWC83V8Tw0I0odciFE" alt="img">
                    </div>
                    <div class="carousel-item" data-bs-interval="3000">
                        <img class="d-block w-100" style="height: 50vh;" src="https://i.picsum.photos/id/1067/1800/1600.jpg?hmac=9cyKyWn6g0_A3pa8x2EjrAz9KKkkEjsMUGE-gSagYFM" alt="img">
                    </div>
                </div>
            </div>
            <!-- Header End -->
            <!-- 右側欄位Detail Start -->
            <div class="container py-3">
                <div class="row pt-5">
                    <div class="col-lg-4 mt-4 mt-lg-2 ">
                        <div class="sticky-top" style="top:10vh;z-index:0">
                            <!-- Author Bio -->
                            <div class="d-flex flex-column rounded py-4">
                                <div class="py-3">
                                    <span><img :src="userImageSrc(UserImage)" id="userimg" alt="Image"></span>
                                    <span class="px-3 py-1">{{UserName}}</span>
                                </div>
                            </div>

                            <div class="mb-4">
                                <div class="mb-2">Duration</div>
                                <div class="mb-2">{{getdate(StartDate)}}~{{getdate(EndDate)}}</div>
                                <ul class="list-group list-group-flush" id="hidden">
                                    <div v-for="(day,dayIndex) in Details" class="mt-2">
                                        <i class="fa-solid fa-calendar-days"
                                       style="color:var(--primary-bule-light)"></i>&nbsp;第{{dayIndex+1}}天

                                    <li v-for="(dayDetails,viewIndex) in day" :key="dayDetails.id" class="Details">
                                        <a class="list-group-item list-group-item-action"
                                       :href="gethref(dayIndex,viewIndex)">
                                            {{gettime(dayDetails.startTime)}}&nbsp; ▏
                                            {{dayDetails.p_Name}}
                                        </a>
                                    </li>

                            </div>
                            </ul>
                        </div>


                        <!-- Tag Cloud -->
                        <div class="mb-4">
                            <h2 class="mb-2">#Tag</h2>
                            <div class="d-flex flex-wrap m-n1">
                                <button class="btn btn-primary m-1">溫泉</button>
                                <button class="btn btn-primary m-1">生態</button>
                                <button class="btn btn-primary m-1">小吃特產</button>
                                <button class="btn btn-primary m-1">國家公園</button>
                                <button class="btn btn-primary m-1">休閒農業</button>
                            </div>
                        </div>

                        <!-- Recent Post -->
                        <div class="mb-4">
                            <div class="d-flex align-items-center myshadow overflow-hidden" id="card">
                                <div class="box">
                                    <img class="cover-fit" src="https://unsplash.it/1800/1600/?random/view" alt="Image">
                                </div>
                                <div>
                                    <div class="mx-1">{{Title}}</div>
                                    <small class="mx-1"><i class="fa fa-user" style="color:var(--primary-bule-light);"></i> {{UserName}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    @*左側欄位*@
                <div class="col-lg-8">
                    <div class="d-flex flex-column text-left mb-3">
                        <div>
                            <div class="my-3" style="font-size:2.8rem;">{{Title}}</div>
                            <div class="d-flex">
                                <button class="btn btn-primary m-1" @@click="copyURL">SHARE </button>
                                <div class="dropdown me-2" id="setting">
                                    <button class="btn btn-primary dropdown-toggle m-1" type="button"
                                        id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        收藏行程
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <input placeholder="選擇開始日期" type="text" onfocus="(this.type='date')"
                                               onblur="(this.type='text')" @@input="copyblog()" v-model="daterange" class="timepicker">
                                        </li>
                                    </ul>
                                </div>
                                <div style="line-height:37px;font-size:18px;">
                                    <i :class="bool?'fa fa-heart red':'fa fa-heart'" @@click="likeblog"></i>
                                    <span class="px-1"> {{Like}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <img class="img-fluid rounded w-100 mb-4" :src="getImages(CoverImageName.name)" style="height:500px;object-fit:cover;" alt="Image" />
                        <div class="myshadow mb-4">
                            <div style="background-color:#ebebf5;border-radius:10px;text-indent: 3.6rem;padding:10px">{{describe}}心得簡述</div>
                        </div>
                        <div class="myshadow">
                            <div v-for="(day,dayIndex) in Details">
                                <label id="day" class="my-3">第{{dayIndex+1}}天</label>
                                <div class="viewcolor">
                                    <div v-for="(dayDetails,viewIndex) in day" :key="dayDetails.id" class="mb-5">
                                        <div class="mb-1" :id=getanchor(dayIndex,viewIndex)><div style="font-weight: bold;font-size:2.5rem;">{{dayDetails.p_Name}}</div></div>
                                        <div class="mb-1">
                                            <i class="fa-solid fa-house-crack"
                                           style="color:var(--primary-bule-light)"></i>&nbsp;{{dayDetails.p_Add}}
                                        </div>
                                        <div class="mb-1">
                                            <i class="fa-solid fa-phone"
                                           style="color:var(--primary-bule-light)"></i>&nbsp;{{dayDetails.p_tel}}
                                        </div>
                                        <div>
                                            評分&nbsp;
                                            <i class="fa fa-star" :style="{color:color}"
                                           :class="item<=dayDetails.score?'fa-star':'fa-star-o'" v-for="item in count"
                                           @@load="myscore=item"></i>
                                        </div>


                                        <div v-viewer class="groupimg img-fluid">
                                            <template v-for="(image,index) in dayDetails.images">
                                                <img :src="getImages(image.name)">
                                            </template>
                                        </div>
                                        <div style="text-indent: 3.6rem;">{{dayDetails.describe}}</div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
