@{
    ViewData["Title"] = "Home Page";
}

@section Style{
    <!-- <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />  -->
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />



}

    @section Scripts{
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script src="~/js/site.js"></script>
   <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>



    <script>        
         var typed = new Typed(".auto-type", {
            strings: ["還在為排行程煩惱嗎?", "旅行也可以很簡單"], typeSpeed: 100, backSpeed: 100, loop: false
        });
        var navbar = document.getElementById("navbarC");
        var menu = document.getElementById("navbarC__menu"); 
    </script>
    <script>
        const {reactive, ref ,onMounted} = Vue;      
          const App = {
              setup() {
                  const search = reactive({ results: [] })
                  let searchString = ref("")
                  const northern = ['基隆市', '新北市', '臺北市', '桃園市', '新竹縣', '新竹市', '宜蘭縣'];
                  const central = ['苗栗縣', '臺中市', '彰化縣', '南投縣', '雲林縣',];
                  const south = ['嘉義縣', '嘉義市', '臺南市', '高雄市', '屏東縣',];
                  const east = ['花蓮縣', '臺東縣', '澎湖縣', '連江縣', '金門縣'];
                  let searchNumber = 12;
                  const select = reactive({ selectCounty: [], selectAcitivity: [], searchNumber: 0, Search: "" })
                  function searchBlog(area) {
                      select.searchNumber = 0;
                      switch (area) {
                          case "北部":
                              if (select.selectCounty[0] != northern[0]) {
                                  select.selectCounty = northern;
                                  select.Search = "";
                              }
                              else {
                                  select.selectCounty = []
                                  select.Search = "";
                              }
                              break;
                          case "中部":
                              if (select.selectCounty[0] != central[0]) {
                                  select.selectCounty = central;
                                  select.Search = "";
                              } else {
                                  select.selectCounty = []
                                  select.Search = "";
                              }
                              break;
                          case "南部":
                              if (select.selectCounty[0] != south[0]) {
                                  select.selectCounty = south;
                                  select.Search = "";
                              } else {
                                  select.selectCounty = []
                                  select.Search = "";
                              }
                              break;
                          case "東部":
                              if (select.selectCounty[0] != east[0]) {
                                  select.selectCounty = east;
                                  select.Search = "";
                              } else {
                                  select.selectCounty = []
                                  select.Search = "";
                              }
                              break;
                          case "搜尋":
                              select.Search = searchString.value;
                              searchString.value = "";
                              break;
                          default:
                              select.selectCounty = [];
                              select.Search = "";
                              break;
                      }                      
                      axios.post("@Url.Action("searchBlog","Blog")", select).then(res => search.results = res.data)
                  }
                  function imageSrc(imageName) {
                      return "@Url.Content("~/blogImages")/" + imageName
                  }
                  function userImageSrc(userImage) {
                      return "@Url.Content("~/userImages")/" + userImage
                  }
                  function open(e) {
                      $("#sh").toggleClass("sh")
                      if ($('#sh')[0].clientWidth >= $('#findw')[0].clientWidth * 1.1) {
                          $('#shbox').addClass('tgshow')
                          $('#shbtn').addClass('tgshow')
                      } else {
                          $('#shbox').removeClass('tgshow')
                          $('#shbtn').removeClass('tgshow')
                          $('#shbox')[0].focus()
                      }
                  }
                  function blogUrl(id) {
                      return "@Url.Action("Blog","Home")?" + id
                  }
                  function scroll() {
                      if (window.scrollY + window.screen.height >= document.body.scrollHeight) {
                          select.searchNumber += searchNumber;
                          axios.post("@Url.Action("searchBlog","Blog")", select).then(res => Array.prototype.push.apply(search.results, res.data))
                      }
                  }
                  onMounted(() => {
                      window.addEventListener('scroll', scroll);
                      searchBlog("");
                  })
                  return {
                      search, northern, central, south, east, searchNumber,
                      select, searchString, searchBlog, imageSrc, userImageSrc, open, blogUrl
                  }
              },
        }
        Vue.createApp(App).mount("#app")    
        var mouse = {
            X: 0,
            Y: 0,
            CX: 0,
            CY: 0
        },
            block = {
                X: mouse.X,
                Y: mouse.Y,
                CX: mouse.CX,
                CY: mouse.CY
            },
            imags = [
                'https://unsplash.it/1800/1600/?random',
                'https://unsplash.it/1900/1600/?random',
                'https://unsplash.it/1800/1400/?random',
                'https://unsplash.it/1800/1500/?random'
            ];

        $('.block').on('mousemove', function(e) {
            mouse.X = (e.pageX - $(this).offset().left) - $('.block').width() / 2;
            mouse.Y = (e.pageY - $(this).offset().top) - $('.block').height() / 2;
        })

        $('.block').on('mouseleave', function(e) {
            mouse.X = mouse.CX;
            mouse.Y = mouse.CY;
        })

        setInterval(function() {

            block.CY += (mouse.Y - block.CY) / 12;
            block.CX += (mouse.X - block.CX) / 12;

            $('.block .circleLight').css('background', 'radial-gradient(circle at ' + mouse.X + 'px ' + mouse.Y + 'px, #fff, transparent)')
            $('.block').css({
                transform: 'scale(1.03) translate(' + (block.CX * 0.05) + 'px, ' + (block.CY * 0.05) + 'px) rotateX(' + (block.CY * 0.05) + 'deg) rotateY(' + (block.CX * 0.05) + 'deg)'
            })

        }, 20);

        $('.slider .item').each(function(i) {

            if (i == 0) {

                $(this).addClass('active');
                $(this).next().addClass('next');
                $(this).prev().addClass('prev');
            }

            $(this).attr('id', 'slide-' + i);

            $(this).prepend(
                $('<div>', { class: 'blur', style: 'background-image: url(' + imags[i] + ');' }),
                $('<div>', { class: 'bg', style: 'background-image: url(' + imags[i] + ');' })
            )

            $(this).find('.block').css('background-image', 'url(' + imags[i] + ')')

            $('.navigations .dots').append(
                $('<li>', { class: i == 0 ? 'active' : '', id: i }).on('click', function() {
                    var cSlide = $('.slider #slide-' + $(this).attr('id'));

                    $('.navigations .dots li').removeClass('active');
                    $(this).addClass('active');

                    $('.slider .item').removeClass('active prev next');
                    cSlide.addClass('active');
                    cSlide.next().addClass('next');
                    cSlide.prev().addClass('prev');
                })
            )
        })
    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>


}


    <div class="idx__contaim">
        <div class="index">
            <video autoplay muted loop plays-inline class="index__bg-video">
                <source src="~/file/video/beach.mp4" type="video/mp4">
            </video>
        </div>
        <p class="text-center typer"><span class="auto-type"></span></p>
        <div class="index__home-bt">
            <a asp-area="" asp-controller="Home" asp-action="itinerary">開始規劃</a>
        </div>
    </div>


    <div class="idx__title">
        <div class="idx__title-content">
            <h3>來一場說走就走的旅行</h3>
            <p>Go for a trip</p>
            <div class="idx__title-bt1"></div>
        </div>
    </div>

    <div id="app">
    <div class="slider">
        <div class="items-group">
            <div class="item">
                <div class="block">
                    <span class="circleLight"></span>
                    <div class="text">
                        <h2>First</h2>
                        <p>This is slide 1</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="block">
                    <span class="circleLight"></span>
                    <div class="text">
                        <h2>Second</h2>
                        <p>This is slide 2</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="block">
                    <span class="circleLight"></span>
                    <div class="text">
                        <h2>Three</h2>
                        <p>This is slide 3</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="block">
                    <span class="circleLight"></span>
                    <div class="text">
                        <h2>Four</h2>
                        <p>This is slide 4</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="navigations">
            <ul class="dots"></ul>
        </div>
    </div>

 
    <div class="idx__title-2" id="recommend">
        <div class="idx__title-2-content">
            <h3>Just go幫你規劃行程</h3>
            <p>紀錄你的旅行回憶</p>
            <div class="idx__title-2-bt"></div>
        </div>
    </div>
    
        <div class="screnbox">  
        <div @@click="searchBlog('北部')">北部</div>
        <div @@click="searchBlog('中部')">中部</div>
        <div @@click="searchBlog('南部')">南部</div>
        <div id="findw"  @@click="searchBlog('東部')">東部</div>
        <div @@click="open($event)" id="sh" class="">
            <i class="fa-solid fa-magnifying-glass"></i>篩選
            <input id="shbox" class="tgshow"   type="text" placeholder="請輸入關鍵字" v-model="searchString" />
            <button @@click="searchBlog('搜尋')" id="shbtn" class="tgshow"><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>        
    </div>
    <div class="wrapper">
       <div v-for="(item) in search.results" class="card" :key="item.blogId">     
                @*{{item}}*@
                <img :src="imageSrc(item.coverImage.name)" alt="">
                <div class="info">
                    <img :src="userImageSrc('Shinnosuke6.png')" alt="">@*頭像*@
                    <h1>{{item.title}}</h1>
                    <p>😎帳號</p>
                    <a :href="blogUrl(item.blogId)" class="btn">read me</a>
                </div>
            </div>                        
        </div>  
    </div> 
</div>




