@*@model IEnumerable<JustGo.ViewModels.ScheduleVM>*@
@{
    ViewData["Title"] = "View";
    //Layout = null;
}
@{
    Layout = "_Layout";
}

@section Style{
    <link rel="stylesheet" href="~/css/UCg.css" asp-append-version="true" />
       <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}
    <style>
        .navbarC{
        background:#333}




        .travel {
            font-weight: bold;
            margin: 30px 25px 30px 25px;
            color: BLACK;
            font-size: 28px;
            border-bottom: 5px solid transparent;
            border-image: linear-gradient(to right, #808080, transparent) 1;
        }

        .schedules {
            font-weight: bold;
            font-size: 17px;
        }

        .schedule:hover {
            transition: all 1s ease;
            transform: scale(1.05);
            box-shadow: 0 0 5px;
            opacity: 0.9;
            border-radius: 10px;
            cursor: grab;
            border: 4px solid #Ffff;
        }

        .schedule {
            margin: 30px;
            /* margin: auto; */
            border: 5px solid #ffff;
            height: 200px;
            border-radius: 10px;
            box-shadow: 0 0 3px;
            background-image: linear-gradient(to top left,#F0F0F0	,#FFFF,#F0F0F0	);
            width: 270px;
            min-width: 245px;
        }
        /* 底下部分框 */

        .blog {
            margin: 30px;
            border: 4px solid#ffff;
            height: 200px;
            border-radius: 10px;
            box-shadow: 0 0 3px;
            background-image: linear-gradient(to top left,#F0F0F0	,#FFFF,#F0F0F0	 );
            width: 270px;
            min-width: 245px;
        }
            /* 底下部分部落格框放大 */
            .blog:hover {
                transition: all 1s ease;
                transform: scale(1.05);
                box-shadow: 0 0 5px;
                opacity: 0.9;
                border-radius: 15px;
                cursor: grab;
                border: 4px solid #FFff;
            }
        /* 3行字跟編輯的上下間距 */
        .schedule_word_margin {
            margin-top: 5%;
        }



        /* 編輯字體樣式 */

        .item_scheduleId {
            font-size: 25px;
            margin-left: 10%;
        }
            /* 滑鼠移動字體變色 */

            .item_scheduleId:hover {
                transition: all 1.1s ease;
                cursor: grabbing;
                color: rgb(17, 17, 242);
            }
        /* 刪除字體樣式 */
        .DeleteSchedule_Style {
            font-size: 25px;
            margin-right: 10%;
        }
            /* 刪除滑鼠移動變色*/

            .DeleteSchedule_Style:hover {
                cursor: grabbing;
                color: red;
            }
        /* 框內5行字的上間距*/
        .scheduleInfo_Margin {
            margin-top: 6%;
        }
        /* 框內第1行字的樣式*/
        .item_title {
            font-weight: bold;
            font-size: 18px;
            margin-left: 11%;
            margin-right: 5%;
            min-width: auto;
        }
        /* 框內第2.3行字的樣式*/
        .item_startDate {
            margin-top: 13px;
            margin-bottom: 13px;
            font-size: 15px;
            margin-left: 11%;
            margin-right: 5%;
            min-width: auto;
        }
        /* 框內5行字移動放大*/
        .item_title:hover {
            cursor: grabbing;
        }
        /* 分享行程樣式間距*/
        .CreateBlog_Style {
            font-size: 25px;
            margin-left: 10%;
        }
            /* 分享行程滑鼠移動放大*/
            .CreateBlog_Style:hover {
                cursor: grabbing;
                color: rgb(17, 17, 242);
            }
        /* 背景顏色*/
        .Background-color_Style {
            background-image: linear-gradient(to top left, #C4E1FF,#FFFF,#C4E1FF );
            opacity: 0.9;
        }

        /* 框格內第1條線間距*/
        .hr_Style {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 11%;
            margin-right: 11%;
            min-width: auto;
            color: black;
            font-size: 18px;
            min-width: auto;
        }
        /* 框格內第2條線間距*/
        .hr2_Style {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 11%;
            margin-right: 11%;
            min-width: auto;
            color: black;
            font-size: 18px;
            min-width: auto;
        }

            .titlemargin{
            margin-top:65px;
            margin-button:65px;
            margin-left:20px;

        }
        .col {
            font-size: 25PX;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            font-weight: bold;
        }

            .col:hover {
                cursor: grab;
            }

        .schedule_word_margin {
            display: flex;
            justify-content: space-between;
        }

        @@media screen and (max-width:600px) {
            .col {
                font-size: 15px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-weight: bold;
            }
        }

        @@media screen and (max-width:430px) {
            .col {
                font-size: 8px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-weight: bold;
            }
        }

    </style>

      
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" />
    <div class="Background-color_Style">

        <div class="d-flex align-items-start col">
            <div class="nav flex-column nav-pills me-3 " id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <span class="nav-link active titlemargin" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" aria-controls="v-pills-home" aria-selected="true">行程</span>
                <span class="nav-link titlemargin" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">過往行程</span>
                <span class="nav-link titlemargin" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">遊記</span>
                <span class="nav-link titlemargin" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">收藏</span>
                <span class="nav-link titlemargin" id="v-pills-member-tab" data-bs-toggle="pill" data-bs-target="#v-pills-member" role="tab" aria-controls="v-pills-member" aria-selected="false">會員</span>
            </div>
        <div class="container" id="app">
        <div class="row">
              <div class="travel">行程</div>
            <div class="block">
                <div class="schedules row row-cols-2 row-cols-md-3 row-cols-xl-5 ">
                    @*<div class="schedule" v-for="(item,index) in schedule" :key="index">*@
                    <div class="schedule" v-for="(item,index) in nextSchedule" :key="scheduleId">
                        <div class="scheduleInfo scheduleInfo_Margin">
                            <span class="item_title">{{item.title}}</span><br/>
                            <hr class="hr_Style" />
                            <span class="item_startDate">{{item.startDate}}</span><br />
                            <span class="item_startDate">{{item.endDate}}</span><br />
                        </div>
                        <hr class="hr_Style" />
                        <div class="buttonBar schedule_word_margin">
                            <span class="item_scheduleId " @@click="editSchedule(item.scheduleId)"><i class="fa-solid fa-file-pen"></i></span>
                            <span class=" DeleteSchedule_Style" @@click="deleteSchedule(item.scheduleId,index)"><i class="fa-solid fa-trash-can"></i></span>
                        </div>
                    </div>
                </div>
            </div>     
            <div class="travel">過往行程</div>
            <div class="block">
                <div class="schedules row row-cols-2 row-cols-md-3 row-cols-xl-5 ">
                    <div class="schedule" v-for="(item,index) in exSchedule" :key="scheduleId">
                        <div class="scheduleInfo scheduleInfo_Margin">
                            <span class="item_title">{{item.title}}</span><br>
                            <hr class="hr_Style" />
                            <span class="item_startDate">{{item.startDate}}</span><br>
                            <span class="item_startDate">{{item.endDate}}</span><br>
                        </div>
                        <hr class="hr_Style" />
                        <div class="buttonBar schedule_word_margin">
                            <span class="CreateBlog_Style" @@click="createBlog(item.scheduleId)"><i class="fa-solid fa-share-from-square"></i></span>
                            <span class="DeleteSchedule_Style" @@click="deleteSchedule(item.scheduleId,index)"><i class="fa-solid fa-trash-can"></i></span>
                        </div>
                    </div>
                </div>
            </div>                
            <div class="travel">遊記</div>
            <div class="block">
                <div class="schedules row row-cols-2 row-cols-md-3 row-cols-xl-5 ">
                    <div class="blog" v-for="(item) in blog" :key="blogId">
                         <div class="scheduleInfo scheduleInfo_Margin">
                            <span class="item_title">{{item.title}}</span><br>
                            <hr class="hr_Style" />    
                            <span class="item_startDate">{{item.describe}}</span><br>
                        </div>
                        <hr class="hr_Style" />
                        <div class="buttonBar schedule_word_margin">
                            <span class="CreateBlog_Style" @@click="editBlog(item.blogId)"><i class="fa-solid fa-share-from-square"></i></span>
                            <span class="DeleteSchedule_Style" @@click="deleteSchedule(item.blogId)"><i class="fa-solid fa-trash-can"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    @section Scripts{
        <script src="~/js/site.js"></script>
        <script src="https://kit.fontawesome.com/2f8972a878.js" crossorigin="anonymous"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
<script>
new Vue({
    el: "#app",
    data() {
        return {
            showSchedule: [],            
            showBlog:[],
        }
    },
    computed: {
        schedule() {
            return this.showSchedule
        },
        nextSchedule() {
            return this.showSchedule.filter(e => new Date(e.endDate) > new Date());
        },
        exSchedule() {
            return this.showSchedule.filter(e => new Date(e.endDate) < new Date());
        },
        blog() {
            return this.showBlog;
        }
    },
    methods: {
        editSchedule(scheduleId) {
            window.location.href = '@Url.Action("itinerary","Home")?' + scheduleId
            //window.location.href = `@Url.Action("itinerary","Home",new {schedule = "123"})"
        },
        deleteSchedule(scheduleId) {
            axios.post("@Url.Action("deleteSchedule","Schedule")", { ScheduleId: scheduleId })
                .then(res => { this.showSchedule.splice(this.showSchedule.findIndex(e => e.scheduleId == res.data), 1) })
                .catch(err => console.log("err"))
            },
            createBlog(scheduleId) {
                window.location.href = '@Url.Action("EditBlog","Home")#create?' + scheduleId
            },
            editBlog(blogId) {
                window.location.href = '@Url.Action("EditBlog","Home")#edit?' + blogId
            }
        },
        mounted() {
            axios.post("@Url.Action("selectUserSchedule","Schedule")")
                .then(res => this.showSchedule = res.data)
                .catch(err => console.log("err"))
            axios.post("@Url.Action("selectUserBlog","Blog")").then(res=>this.showBlog = res.data).catch(err => console.log(err))
        },

            })
        </script>
    }

